<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <h1>Lista de Estados</h1>


        <a th:href="@{/nuevoEstado}">Nuevo Estado</a>

        <br/>
        <br/>


        <table border="1">
            <thead>

            <th>Pais</th>
            <th>Estado</th>
            <th>Capital</th>
            <th>Población</th>
            <th>Costas</th>
            <th colspan="2">Acciones</th>
        </thead>
        <tbody>
            <tr th:each="item : ${Estado}">

                <td th:text="${item.pais}"></td>
                <td th:text="${item.estado}"></td>
                <td th:text="${item.capital}"></td>
                <td th:text="${item.poblacion}"></td>
                <td th:text="${item.costas}"></td>
                <td><a th:href="@{/modificarEstado/} + ${item.Id}">Modificar</a></td>        
                <td><a th:href="@{/eliminarEstado/} + ${item.Id}">Eliminar</a></td>
            </tr>

        </tbody>
    </table>



    <div th:if="${estados == null or estados.empty}">
        
    </div>

</body>
</html>
